/* === MENU === */

.content-header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 0%;
    height: 2px;
    background: #00c2ff;

    transition: width 0.3s ease;
}

/* animação */
.content-header a:hover::after {
    width: 100%;
}


/* === HERO === */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text {
    animation: fadeUp 0.8s ease forwards;
}

.hero-image {
    animation: fadeUp 1s ease forwards;
}

.hero-botao {
    transition: all 0.3s ease;
}

.hero-botao {
    background: #00c2ff;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease;
}

.hero-botao:hover {
    background: #00a6d6;
    transform: scale(1.05);
}

/* === BENEFICIOS === */

.beneficio-card {
    transition: all 0.3s ease;
}

.beneficio-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* === PROVA SOCIAL === */

.etapa {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s ease forwards;
}

.etapa:nth-child(1) { animation-delay: 0.3s; }
.etapa:nth-child(3) { animation-delay: 0.6s; }
.etapa:nth-child(5) { animation-delay: 0.9s; }

.depoimento {
    transition: all 0.3s ease;
}

.depoimento:hover {
    transform: scale(1.03);
}